table.menu,th,tr,td {
  border-style : hidden;
  align : right
}
table.cart,th tr,td {
  align : left
}
.right {
	text-align : right;
	float : right;
}
.left {
	text-align : left;
	float : left;
}
h2{
     font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #009900;
    font-size: 28px;
           text-align: left;
           padding-left:  10px;
    padding-right: 20px;
      }
button.linkstyle {
	background:none;
     border:none; 
     padding:0;
     font-family: Tahoma, Geneva, sans-serif;
	 font-size: 17px;
     color: #CD3788;
     border-bottom:1px solid #CD3788;
     cursor: pointer;

}
  #nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #c00;
      background-color: #fff; }
   /* End navigation bar styling. */
   
   /* This is just styling for this specific page. */
   body {
      background-color: #fff;
      font: small/1.3 Arial, Helvetica, sans-serif; }
   #wrap {
      width: 1000px;
      margin: 0 auto;
      background-color: #fff; }
   h1 {
      font-size: 1.5em;
      padding: 1em 8px;
      color: #333;
      background-color: #069;
      margin: 0; }
   #content {
      color: #3C3C3C;
      width: 1000px;
      margin: 0 auto;
      background-color: #ffffff;
     }
       #content2 {
      color: #3C3C3C;
     
      margin: 0 auto;
      background-color: #ffffff;
     }
  button.myButton {
  background: #3333ff;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
button.myButton:hover {
  background: #3366ff;
  text-decoration: none;
}
button.myButton:active {
	position:relative;
	top:1px;
}